@{
    ViewData["Title"] = "Admin Page";
}

<div class="container">
    <h2 class="mt-4">Admin Dashboard</h2>
    <p>You have successfully logged in as an Admin.</p>
    <!-- Display admin-related features here. Like; manage users, animals, etc. for the dashboard and privileges -->
</div>
