@{
    ViewData["Title"] = "User Page";
}

<div class="container">
    <h2 class="mt-4">Welcome, User!</h2>
    <p>You have successfully logged in as a normal user.</p>
    <!-- Display user-related features here. Animal lists and informations, blog contents etc -->
</div>
