@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2 class="mt-4 text-center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        Welcome to the Animal Shelter
    </h2>
</div>
